<div class="row friend-list">
  <div class="col-9">  
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @friends.each do |friends| %>
          <tr>
            <th scope="row"><%= friends.email %></th>
            <td><%= friends.first_name %></td>
            <td><%= friends.last_name %></td>
            <td><%= link_to 'Stop following', friendship_path(friends), method: :delete, data: {confirm: 'Are you sure?'},
                                    class: "btn btn-sm btn-warning" %> 
            <%= link_to 'View profile', user_path(friends), class: "btn btn-sm btn-success" %> 
                                    
                                    </td>
        <% end %>
      </tbody>
    </table>
</div>
</div>